{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                {{ component('ProjectBoard') }}
            </div>
        </div>
    </div>
{% endblock %}
